header{

  background-color:green;
  margin: 0 auto;
  padding : 0 0px 10px 50px;
}

h1{
margin :  0 auto ;
  text-align: center;
  padding : 10px 50px 20px;
  font-size :35px;
}
.header{
    height: 80px;
    margin:10px;
  background-color: green;
}

nav ul li {
  list-style-type: none;
  display : inline-block;

  padding: 60px;
 }

 ul li a{
 color :white;
 letter-spacing: 0.1em;


 }

 ul li a:hover {
  color : black;
  text-decoration: underline;


 }
 .menu li {
  float : left;
  padding:35px;
 }
 .menu li a {
  text-decoration: none;
 }
 form {
  padding : 35px;
  text-align : right;
 }
 footer{

  background-color: green;
  text-align: center;
  padding :10px 50px 20px;
  margin : 0;
  color : white;
 }

























 body {
font-size: 16px;
font-family: "Sansita", Ubuntu, sans-serif;
}
/* phone or baseline views **************************/
main {
max-width: 767px;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr ;
font-size: 0.8rem;
justify-content: center;
}



main section {
margin: 0.5rem;
border: 2px solid #bbb;
padding: 0 5rem;
background-color: #eee;
}

main section h2 {
color: #535778;
}



main section:nth-child(2) {
display: none;
margin: 0.5rem;
}

.colimage {
box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
main {
  grid-template-columns: 1fr 1fr;
}

main section:nth-child(2) {
  display: block;
}

main section:nth-child(3) {
  grid-column: span 2;
}

main section picture {
  display: block;
}
main section picture img {
  width: 100%;
  height: auto;
  border: 1px solid #bbb;
}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
main {
  grid-template-columns: 1fr 1fr ;
}

/* This is unncessary !!! The flow is set and the template is set already */
main section:nth-child(1) {
  grid-column: 1/2;
}
main section:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
/*************************************/

main section:nth-child(3) {
  grid-column: span 1;
}
  main section:nth-child(4) {
  grid-column: span 3;
}
}