h2{
    font-size :1rem;
}
nav{
    background-color: green;
   

}
nav ul{
    list-style-type: none;
}
nav a{
    display: block;
    color:#fff;
    text-align:center;
    padding: .5rem;
    text-decoration: none;
}
nav a:hover{
    background-color : rgba(255,255,255,0.2);
}
 nav .active{
    background-color: rgba(0,0,0,0.2);
 }

#mybutton{
    font-size: 2rem;
    background : none;
    border :none ;
    color :#fff;
    cursor :pointer;
    width : 100%;
    text-align : right;
    padding : .25rem 2vw;
}
ul.menulinks li a {
   
    display :block ;
    padding: .75rem 2vw;
    text-decoration : none ;
}

ul.menulinks{
  display:none;
}

ul.menulinks.open{
    display:block;
}









.parent section {
    border: 2px solid rgb(68, 34, 57);
    background-color:beige;
    border-radius:10px;
    margin :1rem 0;
}
 .parent span{
    background-color: green;
    color:#fff;
    display:block;
    text-align: center;
    padding: .75rem 0;
 }
 .parent p{
    padding:10px;

 }


 #mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
