body {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    margin: 20px;
    background-color: rgb(197, 197, 197);
    color: rgb(72, 72, 72);
  }
  
  .image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  img {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
  }
  
  img[actual-url] {
    border-radius: 20%;
  }